.icon-48-adressen {
      background-image: url(../images/l_adressen.png);
      padding-left:60px!important;
}

.icon-48-adres {
      background-image: url(../images/l_adressen.png);
      padding-left:60px!important;
}

.other-filters{
    padding: 0 14px;
}